{% extends 'patient/base.html'%}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 p-4 text-center">
        <h1>About Us</h1>
    </div>
    </div>
    <div class="row justify-content-center mt-1">
    <div class="card col-d-5 col-sm-12 p-4 text-center">
        <p>At HaemoDiagnostics we recognize the critical role blood testing plays in diagnosing and managing a wide array of health conditions. From autoimmune disorders and infectious diseases to hematologic malignancies like leukemia, accurate blood analysis is essential for effective treatment. Our mission is to ensure that everyone, regardless of location, has access to reliable and timely diagnostic services.</p>

        <p><b>Our Mission</b></p>
        Our mission is to provide accessible, accurate, and reliable blood testing services to all communities. We are committed to ensuring that every patient receives the highest standard of diagnostic care, which is vital for timely treatment and improved health outcomes. By leveraging cutting-edge technology and innovative solutions, we aim to make blood testing more efficient and accessible, contributing to better healthcare services.</p>
        
        <p><b>Our Vision</b></p>
        <p>Our vision is a world where high-quality diagnostic services are available to everyone, no matter where they live. We strive to lead in medical innovation, continuously improving our services to meet the evolving needs of our patients. Through dedication, expertise, and compassion, we aim to make a significant impact on public health and reduce health disparities.</p>  
    </div>
    </div>
</div>

{% endblock content %}